<a href="https://colab.research.google.com/github/satyam0402/python-ml/blob/main/Chapter-1.1.%20Basic_Data_Types_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Basic Data Types in Python
  1. Integer
  2. String
  3. Float
  4. Boolean
  5. Complex

In [ ]:
# Intergers
a = 8
print(a)
type(a)

8

int

In [ ]:
# Float
b = 1.0
print(b)
type(b)

1.0

float

In [ ]:
# Complex Numbers
c = 1 + 2j
print(c)
type(c)

(1+2j)

complex

In [ ]:
# Boolean
a = True
b = False
print(a)
print(b)
type(a)
type(b)

True
False

bool

In [ ]:
a = 7 < 3
print (a)

False

In [ ]:
# String
my_string = "Python-Machine-Learning"
print(my_string)
type(my_string)

#------Multiple-Prints------

print(my_string*5)

#---Slice-String-------

print(my_string[1:22]) #Value from index 1 to 22-1 will be printed(sliced)

#---Steps-------

print(my_string[0:22:2])

#---String-Concatination-------

my_string2 = "We got this!!!"
print(my_string + " " + my_string2)

Python-Machine-Learning
Python-Machine-LearningPython-Machine-LearningPython-Machine-LearningPython-Machine-LearningPython-Machine-Learning
ython-Machine-Learnin
Pto-ahn-eri
Python-Machine-Learning We got this!!!

2. Conversion from one Data Type to Another

In [ ]:
# Int to float
x = 1
print(x)
type(x)

y = float(x)
print(y)
type(y)

1
1.0

float

In [ ]:
# Float to int
x = 1.0
print(x)
type(x)

y = int(x)
print(y)
type(y)

1.0
1

int