<a href="https://colab.research.google.com/github/satyam0402/python-ml/blob/main/Chapter_1_2_List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  Type of Objects in Python
  1. Immutable Objects: Objects that can not be changed once declared. E.g : int, float, boolean, string, etc.

  2. Mutable: Can be Updated/Rewritten or changed. E.g.: List, Set, Dictinoary

In [ ]:
# 1 Immutable data type Tuple
# Tuples are enclosed in "()" brackets. Tuple can not be updated/changed. Tuple can hold elements of different data types.
my_tuple1 = (1,2,3.3,True,"ML")
print(my_tuple1)
type(my_tuple1)

#Conversion of lists into Tuple
my_list = [1,2,3]
print(my_list)
my_tuple2 = tuple(my_list)
print(my_tuple2)
type(my_tuple2)

(1, 2, 3.3, True, 'ML')
[1, 2, 3]
(1, 2, 3)

list

In [ ]:
# 2.1 Lists: List elements should be enclosed in square brackets [].

my_list1 = [1,2,3,4,5]
print(my_list)
type(my_list)

# List can hold elements of different data types in one list.

my_list2 = [1,2,3.3,True,"ML"]
print(my_list2)

# List elements can be updated
#append
my_list1.append(6)
my_list2.append(5)
print(my_list1)
print(my_list2)

# Print elements of list using index
print(my_list2[4])

# List can have duplicate values
my_list3 = [1,2,3,5,6,1,2,3,5,6]
print(my_list3)

# We can get the length of the list using "len." It gives the count of the total number of elements in the list.
print(len(my_list3))

# We can delete the elements of a list using "del".
print(my_list2)
del my_list2[4]
print(my_list2)

# Joining or concatenating the two lists
my_list4 = my_list1 + my_list2 + my_list3
print(my_list4)

# 2.2 Sets: Sets are enclosed in curly brackets. Sets do not allow duplicate elements; they delete any duplicate elements. Sets do not support indexing.

my_set = {1,2,3,4,5,6}
print(my_set)
type(my_set)

#2.3 Dictionary: Dictonary elements are enclosed in curly brackets and have a KEY-VALUE pair. Dictionary do not allow duplicate values.
my_dictionary = {'name':'John', 'age': 30, 'country' : 'USA'}
print(my_dictionary)
type(my_dictionary)

print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

[1, 2, 3]
[1, 2, 3.3, True, 'ML']
[1, 2, 3, 4, 5, 6]
[1, 2, 3.3, True, 'ML', 5]
ML
[1, 2, 3, 5, 6, 1, 2, 3, 5, 6]
10
[1, 2, 3.3, True, 'ML', 5]
[1, 2, 3.3, True, 5]
[1, 2, 3, 4, 5, 6, 1, 2, 3.3, True, 5, 1, 2, 3, 5, 6, 1, 2, 3, 5, 6]
{1, 2, 3, 4, 5, 6}
{'name': 'John', 'age': 30, 'country': 'USA'}
John
30
USA